/*NAVBAR LAYOUT*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color:green;
    background-position: center;
    background-size:cover;
    width:100%;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
   background-position: center;
    top: 0;
    width: 100%;
    background: blue;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
    color: white;
    border-radius: 10px;
    transform: rotateY('angle');
}

.nav-link{
    transition: 0.5s ease;
    size: 28px;
}

.nav-link:hover{
    color:green;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 24px;
    height: 3px;
    margin: 3px auto;
    -webkit-transition: all o.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
  

body{
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    background: #07132b;
    font-family: 'Segoe UI',sans-serif;
    max-width: 1000px;
    font-family: 'Fira Code',monospace;
    margin: 0;
    padding: 0;
}

h2{
    color:white;
    font-size: 28px;
    letter-spacing:3px ;
    margin-bottom: 42px;
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
}

p{
    color:whitesmoke;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 32px;
    font-family: 'Fira Code',monospace;
}

.highlight{
    color:lightblue;
    font-weight: 700;
}

.hero{
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin: 0;
    background: green;
    background-position: center;
    background-size: cover;
    width:100%;
}

.hero-content{
    font-family: 'Fira Code',monospace;
    align-content: center;
    font-size: 18px;
    justify-content: justify;
    margin:0 auto;
    max-width: 900px;
    padding: 20px 15px;
    color: whitesmoke;
    width:100%;
}

.name{
    text-align: center;
    color:blue;
    transition:0.5s ;
    font-weight: bold;
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
}

.work{
    color:white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
}

section{
    padding: 20px 5px;
    width:100%;
}

.btn{
    border: none;
    cursor: pointer;
    display: flex;
    background: blue;
    color:white;
    font-weight: bold;
    border-radius: 7px;
    margin:15px  auto;
    align-content: center;
    justify-content: center;
    width: 40%;
    height:auto;
    padding-right: 20px;
}

.btn:hover{
    opacity: 1;
    transform: scale(1.05);
    transition: opacity 0.3s ease-in-out;
}

.about{
    align-content: center;
    justify-content: center;
    font-weight: lighter;
    background: #07132b;
    width:100%:
    margin:0;
}

.title{
    color: white;
    text-align: center;
    transition:0.5s ;
    font-weight: bold;
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma;
}

.about-content{
    color: whitesmoke;
    align-content: center;
    justify-content:center;
    font-family: 'Fira Code',monospace;
    max-width: 900px;
    font-size: 18px;
    margin:0 auto;
    padding: 30px 20px;
    width:100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background: #07132b;
    padding:20px 12px;
    gap: 40px;
}


.project-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-content:center;
}

.project{
    background: #07132b;
    width:100%;
}

.card{
    padding: 0;
    background: blue;
    overflow: hidden;
    gap: 20px;
    border-color: white;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    max-width: 380px;
    margin: 0 auto 40px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


.card:hover{
    transform: translateY(-10px);
}

i{
    font-size: 28px;
    margin-bottom: 15px;
    color:green;
}

.skill{
    background: #07132b;
    width:100%:
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width:100%;
}

.services{
    background: #07132b;
    width:100%;
}

.services-content{
    align-content: center;
    justify-content: center;
    margin:0 auto;
    padding: 20px 10px;
    font-weight: bolder; 
    color: whitesmoke;
    font-family: 'Fira Code',monospace;
    max-width: 1000px;
    font-size: 18px;
}

.contact{
    width: 100%;
    margin: 0 auto;
    padding:40px 24px;
    background: #f5f5f5;
    background-position: fixed;
    background-size: cover;
}

img{
    padding: 20px;
    object-fit: cover;
    align-content: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    display: flex;
}

.image{
    height: 420px;
    overflow: hidden;
}

.subtitle{
    text-align: center;
    color: lightblue;
    font-size: 20px;
    margin-bottom: 20px;
}

h3{
    text-align: center;
    font-size:22px;
    line-height: 1.2;
    color: #111;
    font-weight: 700;
    margin-top: 20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width:100%;
}

.contact-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width:100%;
}

.icon{
    width: 60px;
    height: 60px;
    color: #2563eb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 24px;
}

.contact-content{
    align-content: center;
    justify-content: center;
    color:black;
    padding: 10px 10px;
    font-family: 'Fira code',monospace;
    font-weight: bold;
    margin:0;
    width:100%;
}

input,textarea{
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
    color:black;
    margin: 10px auto;
    background: white;
    font-size: 18px;
    outline: none;
}

textarea{
    min-height: 220px;
    resize: vertical;
}

input{
    align-content: center;
    justify-content: center;
    margin:10px auto;
}


.footer{
    color: white;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI',Verdana, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    background: green;
    margin:0 auto;
    padding: 5px 5px;
    background-size:cover;
    width:100% ;
}

label{
    color: black;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    padding-right: 80px;
}

.checkbox{
    color: blue;
    padding-left: 80px;
    padding-bottom: 60px;
}


@media(max-width:768px){
.hamburger{
    display:block;
    align-items: flex-end;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
    width: 22px;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px)rotate(45deg);
    width:30px ;
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px)rotate-(45deg);
    width: 14px;
}

.hamburger:hover span:nth-child(2),
.hamburger:hover span:nth-child(3){
    width: 30px;
}

.nav-menu{
    position:fixed;
    left: -100%;
    top:70px;
    gap: 0;
    flex-direction: column;
    background-color:blue;
    width:100%;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}
.nav-menu.active{
    left: 0;
}

section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.name{
    font-size: 34px;
}

p{
    font-size: 17px;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn{
    display:inline;
    height: 30%;
    width: 45%;
}

.skill-grid{
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 24px;
}

.project-grid{
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 24px;   
}

.contact-grid{
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 24px;
}

input,textarea{
    font-size: 16px;
    padding: 18px;
    gap: 20px;
}

.contact{
    padding: 32px 20px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

body{
width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 24px;
}

}
